<h1>Coach Answer</h1>

<blockquote>
  <p>
    <% if @your_question.blank? %>
      😶
    <% else %>
      <%= @your_question %>
    <% end %>
  </p>
  <cite>-You</cite>
</blockquote>

<blockquote>
  <p>
    <%= @coach_answer %>
  </p>
  <cite>-Coach</cite>
</blockquote>

<%= link_to "Ask a new question", ask_path %>
